#addInvoice .tree .form-control{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
}
#addInvoice .table td, .table th{
    padding: .25rem;
}
.nav-tabs .nav-link{
  background: #f5f5f5;
}
.nav-tabs .nav-link.active{
  background: #00c851;
  color: #ffffff;
}
.tab-content .tab-pane{
  padding-top: 20px;
}
.modal-dialog {
  max-width: 900px;
}