

<div class="modal fade" id="addInvoice" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="invoice">
          <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#main" role="tab" aria-controls="home"
                  aria-selected="true">Dane podstawowe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#payer" role="tab" (click)="nextPrev(0);" aria-controls="profile"
                  aria-selected="false">Nabywca</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#customer" role="tab" (click)="nextPrev(1);" aria-controls="contact"
                  aria-selected="false">Odbiorca</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#items" role="tab" (click)="nextPrev(2);" aria-controls="contact"
                  aria-selected="false">Pozycje na fakturze</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-sm-7 form-group">
                    <h3>Faktura {{origin?.number}}</h3>
                    <!-- Material unchecked -->
                    <!-- Default unchecked -->
                    <div *ngIf="this.origin?.mode == 'new'" class="custom-control custom-checkbox pull-left">
                      <input type="checkbox" class="custom-control-input" (change)="proform = !proform" [checked]="proform" id="defaultUnchecked">
                      <label class="custom-control-label" for="defaultUnchecked">PROFORMA</label>
                    </div>
                    <!-- <div class="btn-group">
                      <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Wystawca
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="setOwner(1)">Gmoto.pl</a>
                        <a class="dropdown-item" (click)="setOwner(2)">TTShop.pl</a>
                      </div>
                    </div> -->
                </div>
                <div class="col-sm-5 form-group text-right">
                  <img *ngIf="ownerId == 3" src="http://gmoto.de/motorradteile.jpg" width="100" alt="Gmoto.de">
                  <img *ngIf="ownerId == 2" src="../../../assets/img/logo-ttshop.png" width="100" alt="TTShop">
                  <img *ngIf="ownerId == 1" src="../../../assets/img/logo-gmoto.png" width="100" alt="Gmoto.pl">
                  <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Wystawca
                  </button>
                  <div class="dropdown-menu">
                    <a *ngFor="let owner of invoiceOwners;" class="dropdown-item" (click)="setOwner(owner.id)">{{owner.short}}</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="this.origin?.mode != 'new'" class="col-sm form-group">
                    <label class="bmd-label-floating">Numer zamówienia *</label>
                    <input type="text" class="form-control" (input)="checkForm();setValue('orderId', $event)" formControlName="orderId" [ngModel]="origin?.orderNumber" readonly>
                </div>
                <div class="col-sm form-group">
                </div>
              </div>
              <div class="row">
                <div class="col-sm form-group">
                    <label class="bmd-label-floating">Data wystawienia *</label>
                    <input type="date" class="form-control" (change)="checkForm();setValue('createdDate', $event)" formControlName="createdDate" [ngModel]="origin?.createdDate">
                </div>
                <div class="col-sm form-group">
                    <label class="bmd-label-floating">Data sprzedaży *</label>
                    <input type="date" class="form-control" (change)="checkForm();setValue('billDate', $event)" formControlName="billDate" [ngModel]="origin?.billDate">
                </div>
                <div class="col-sm form-group">
                    <label class="bmd-label-floating">Data przedawnienia *</label>
                    <input type="date" class="form-control" (change)="checkForm();setValue('dueDate', $event)" formControlName="dueDate" [ngModel]="origin?.dueDate">
                </div>
              </div>
              <div class="row">
                <div class="col-sm form-group">
                    <label class="bmd-label-floating">Notatka</label>
                    <textarea class="form-control" formControlName="description" (change)="setValue('description', $event)" rows="3"></textarea>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="payer" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Nazwa</label>
                      <input type="text" class="form-control" formControlName="payerName" (change)="setValue('payerCompany', $event)"[ngModel]="origin?.payer.company">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Ulica *</label>
                      <input type="text" class="form-control" formControlName="payerStreet" (input)="checkForm();setValue('payerStreet', $event)" [ngModel]="origin?.payer.address.street">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Budynek *</label>
                      <input type="text" class="form-control" formControlName="payerBuild" (input)="checkForm();setValue('payerBuild', $event)" [ngModel]="origin?.payer.address.build">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Mieszkanie</label>
                      <input type="text" class="form-control" formControlName="payerFlat" (change)="setValue('payerFlat', $event)" [ngModel]="origin?.payer.address.flat">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Kod pocztowy *</label>
                      <input type="text" class="form-control" formControlName="payerPostCode" (input)="checkForm();setValue('payerPostCode', $event)" [ngModel]="origin?.payer.address.postCode">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Miejscowość *</label>
                      <input type="text" class="form-control" formControlName="payerCity" (input)="checkForm();setValue('payerCity', $event)" [ngModel]="origin?.payer.address.city">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Kraj</label>
                      <div class="btn-group">
                        <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{country}}
                        </button>
                        <div class="dropdown-menu" style="max-height: 220px; overflow-y: auto;">
                          <a class="dropdown-item" (click)="setCountry('at')">Austria</a>
                          <a class="dropdown-item" (click)="setCountry('be')">Belgia</a>
                          <a class="dropdown-item" (click)="setCountry('by')">Białoruś</a>
                          <a class="dropdown-item" (click)="setCountry('bg')">Bułgaria</a>
                          <a class="dropdown-item" (click)="setCountry('hr')">Chorwacja</a>
                          <a class="dropdown-item" (click)="setCountry('cy')">Cypr</a>
                          <a class="dropdown-item" (click)="setCountry('cz')">Czechy</a>
                          <a class="dropdown-item" (click)="setCountry('dk')">Dania</a>
                          <a class="dropdown-item" (click)="setCountry('ee')">Estonia</a>
                          <a class="dropdown-item" (click)="setCountry('fi')">Finlandia</a>
                          <a class="dropdown-item" (click)="setCountry('fr')">Francja</a>
                          <a class="dropdown-item" (click)="setCountry('gr')">Grecja</a>
                          <a class="dropdown-item" (click)="setCountry('es')">Hiszpania</a>
                          <a class="dropdown-item" (click)="setCountry('nl')">Holandia</a>
                          <a class="dropdown-item" (click)="setCountry('ie')">Irlandia</a>
                          <a class="dropdown-item" (click)="setCountry('is')">Islandia</a>
                          <a class="dropdown-item" (click)="setCountry('li')">Liechtenstein</a>
                          <a class="dropdown-item" (click)="setCountry('lt')">Litwa</a>
                          <a class="dropdown-item" (click)="setCountry('lu')">Luksemburg</a>
                          <a class="dropdown-item" (click)="setCountry('lv')">Łotwa</a>
                          <a class="dropdown-item" (click)="setCountry('mt')">Malta</a>
                          <a class="dropdown-item" (click)="setCountry('de')">Niemcy</a>
                          <a class="dropdown-item" (click)="setCountry('no')">Norwegia</a>
                          <a class="dropdown-item" (click)="setCountry('pl')">Polska</a>
                          <a class="dropdown-item" (click)="setCountry('pt')">Portugalia</a>
                          <a class="dropdown-item" (click)="setCountry('ru')">Rosja</a>
                          <a class="dropdown-item" (click)="setCountry('ro')">Rumunia</a>
                          <a class="dropdown-item" (click)="setCountry('sk')">Słowacja</a>
                          <a class="dropdown-item" (click)="setCountry('si')">Słowenia</a>
                          <a class="dropdown-item" (click)="setCountry('ch')">Szwajcaria</a>
                          <a class="dropdown-item" (click)="setCountry('se')">Szwecja</a>
                          <a class="dropdown-item" (click)="setCountry('tr')">Turcja</a>
                          <a class="dropdown-item" (click)="setCountry('ua')">Ukraina</a>
                          <a class="dropdown-item" (click)="setCountry('hu')">Węgry</a>
                          <a class="dropdown-item" (click)="setCountry('gb')">Wielka Brytania</a>
                          <a class="dropdown-item" (click)="setCountry('it')">Włochy</a>
                        </div>
                      </div>
                      <input type="hidden" class="form-control" formControlName="payerCountry" [value]="country">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Nip</label>
                      <input type="text" class="form-control" formControlName="payerTaxNumber" (change)="checkForm();setValue('payerTaxNumber', $event)" [ngModel]="origin?.payer.taxNumber">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Email</label>
                      <input type="text" class="form-control" formControlName="payerEmail" (change)="checkForm();setValue('payerEmail', $event)" [ngModel]="origin?.payer.email">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Telefon</label>
                      <input type="text" class="form-control" formControlName="payerPhone" (change)="checkForm();setValue('payerPhone', $event)" [ngModel]="origin?.payer.phone">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Imię</label>
                      <input type="text" class="form-control" formControlName="customerFirstName" (change)="setValue('customerFirstName', $event)" [ngModel]="origin?.customer?.firstName">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Nazwisko</label>
                      <input type="text" class="form-control" formControlName="customerLastName" (change)="setValue('customerLastName', $event)" [ngModel]="origin?.customer?.lastName">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Nazwa</label>
                      <input type="text" class="form-control" formControlName="customerName" (change)="setValue('customerCompany', $event)" [ngModel]="origin?.customer?.company">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Ulica</label>
                      <input type="text" class="form-control" formControlName="customerStreet" (change)="setValue('customerStreet', $event)" [ngModel]="origin?.customer?.address.street">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Budynek</label>
                      <input type="text" class="form-control" formControlName="customerBuild" (change)="setValue('customerBuild', $event)" [ngModel]="origin?.customer?.address.build">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Mieszkanie</label>
                      <input type="text" class="form-control" formControlName="customerFlat" (change)="setValue('customerFlat', $event)" [ngModel]="origin?.customer?.address.flat">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Kod pocztowy</label>
                      <input type="text" class="form-control" formControlName="customerPostCode" (change)="setValue('customerPostCode', $event)" [ngModel]="origin?.customer?.address.postCode">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Miejscowość</label>
                      <input type="text" class="form-control" formControlName="customerCity" (change)="setValue('customerCity', $event)" [ngModel]="origin?.customer?.address.city">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Kraj</label>
                      <input type="text" class="form-control" formControlName="customerCountry" (change)="setValue('customerCountry', $event)" [ngModel]="origin?.customer?.address.Country">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Nip</label>
                      <input type="text" class="form-control" formControlName="customerTaxNumber" [ngModel]="origin?.customer?.taxNumber">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Email</label>
                      <input type="text" class="form-control" formControlName="customerEmail"  [ngModel]="origin?.customer?.email">
                  </div>
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Telefon</label>
                      <input type="text" class="form-control" formControlName="customerPhone"  [ngModel]="origin?.customer?.phone">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="contact-tab">
                <table class="table table-light">
                  <thead>
                    <tr>
                      <th scope="col">Nazwa</th>
                      <th scope="col">Id</th>
                      <th scope="col">Jednostka</th>
                      <th scope="col">Ilość</th>
                      <th scope="col">GTU</th>
                      <th scope="col">CN</th>
                      <th align="right" scope="col">Wartość BRUTTO</th>
                      <th scope="col">VAT</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of items;let i = index;">
                      <td width="200"><input type="text" class="form-control" (change)="setInvoiceItem(i, 'productName', $event)" [value]="item.productName"></td>
                      <td width="70"><input type="text" class="form-control" (change)="setInvoiceItem(i, 'productId', $event)" [value]="item.productId"></td>
                      <td width="20">
                        <input type="text" class="form-control" (change)="setInvoiceItem(i, 'unit', $event)" [value]="item.unit">
                        <input type="hidden" class="form-control" (change)="setInvoiceItem(i, 'type', $event)" [value]="item.type">
                      </td>
                      <td width="30"><input type="text" class="form-control refund" (change)="setInvoiceItem(i, 'quantity', $event)" [value]="item.quantity"></td>
                      <td width="30"><input type="text" class="form-control refund" (change)="setInvoiceItem(i, 'gtu', $event)" [value]="item.gtu"></td>
                      <td width="30"><input type="text" class="form-control refund" (change)="setInvoiceItem(i, 'cn', $event)" [value]="item.cn"></td>
                      <td width="50"><input type="text" class="form-control refund" style="text-align: right;" (change)="setInvoiceItem(i, 'price', $event)" [value]="item.price"></td>
                      <td width="50"><input type="text" class="form-control refund" (change)="setInvoiceItem(i, 'taxRateId', $event)" [value]="item.taxRateId"></td>
                      <td width="10" style="vertical-align: middle;">
                        <i style="color:orange" (click)="totalRefund(i);" class="cursor-pointer fas fa-ban"></i>
                        <i style="color:red" (click)="removeItem(i);" class="cursor-pointer fas fa-trash-alt"></i>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4"><span class="cursor-pointer" (click)="addInvoiceItem();"><i class="far fa-plus-square"></i> Dodaj kolejną</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div style="overflow:auto;">
                <strong *ngIf="doubleCorrections">Ta faktura posiada już jedną korekte, czy mimo wszystko chcesz dodać kolejną ? </strong>
                <button  *ngIf="this.origin?.mode != 'new'" type="button" (click)="add();" class="btn btn-raised btn-success float-right">Zapisz</button>
                <button  *ngIf="this.origin?.mode == 'new'" type="button" (click)="add();" class="btn btn-raised btn-success float-right">Dodaj</button>
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>