<header>
    <app-top-nav></app-top-nav>
    <app-sidebar></app-sidebar>
</header>
<app-preloader *ngIf="preloader"></app-preloader>
<main class="pt-5 mx-lg-5">
<div class="container-fluid mt-5">
    <div class="card mb-4 wow fadeIn">
        <div class="card-body d-sm-flex justify-content-between">
            <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Export</a>
            <span>/</span>
            <span>Panel</span>
            </h4>
        </div>
    </div>
    <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6>Eksportuj korekty</h6>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<app-footer></app-footer>