<header [ngClass]="visibleSidebar ? 'showSidebar' : 'hideSidebar'">
    <app-top-nav></app-top-nav>
    <app-sidebar></app-sidebar>
</header>

<span class="slideSidebar">
  <i *ngIf="visibleSidebar" (click)="toggleSidebar();" class="far fa-caret-square-left"></i>
  <i *ngIf="!visibleSidebar" (click)="toggleSidebar();" class="far fa-caret-square-right"></i>
</span>

<main class="pt-1 mx-lg-1" [ngClass]="visibleSidebar ? 'showSidebar' : 'hideSidebar'">
    <div class="container-fluid">
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between" style="padding-bottom: 0;">
                <h4 class="mb-2 mb-sm-0 pt-1 ml-3">
                  <!-- <i *ngIf="visibleSidebar" (click)="toggleSidebar();" class="far fa-caret-square-left"></i>&nbsp;
                  <i *ngIf="!visibleSidebar" (click)="toggleSidebar();" class="far fa-caret-square-right"></i>&nbsp;   -->
                  <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Faktury</a>
                <span>/</span>
                <span>Panel</span>
                </h4>
                <button type="button" class="btn btn-raised btn-primary btn-sm" (click)="addInvoice();" style="z-index: 9999;">Dodaj</button>
            </div>
            <app-invoice-form></app-invoice-form>

          <div class="card-body d-sm-flex justify-content-between" style="padding-top: 0; padding-bottom: 15px;">
            <app-filters (valueChange)='reloadData($event)' [showPagination]=false [pagination]='pagination' style="width: 100%;"></app-filters>
          </div>
          <app-invoice-form></app-invoice-form>
        </div>
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <app-preloader *ngIf="preloader"></app-preloader>
            <div *ngIf="!preloader" class="col">
                <div class="card">
                    <div class="card-body">
                      <!-- Wszystkich faktur: <span class="summary badge badge-info">{{pagination.allItems}}</span> |
                      Suma netto: <span class="summary badge badge-success">{{summary.net}} PLN</span> |
                      Suma vat: <span class="summary badge badge-warning">{{summary.vat}} PLN</span> |
                      Suma brutto: <span class="summary badge badge-secondary">{{summary.total}} PLN</span> -->
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col" style="width: 2%;">Numer</th>
                            <th scope="col" style="width: 2%;">Wystawiona</th>
                            <th scope="col" style="width: 2%;">Klient</th>
                            <th scope="col" style="width: 2%;" class="text-right">NETTO</th>
                            <th scope="col" style="width: 2%;" class="text-right">VAT</th>
                            <th scope="col" style="width: 2%;" class="text-right">BRUTTO</th>
                            <th scope="col" style="width: 2%" align="right" ></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let invoice of invoices" >
                            <td style="width: 2%;"><div (click)="showInvoice(invoice.id);" class="cursor-pointer">{{invoice.number}}</div></td>
                            <td style="width: 2%;">{{invoice.createdDate}}</td>
                            <td style="width: 2%;"><span>{{invoice.payer.company}}</span></td>
                            <td style="width: 2%;" align="right"><span>{{invoice.net}}</span></td>
                            <td style="width: 2%;" align="right"><span>{{invoice.vat}}</span></td>
                            <td style="width: 2%;" align="right"><span>{{invoice.total}}</span></td>
                            <td style="width: 2%;" align="right">
                              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                  <button id="btnGroupDrop1" type="button" class="btn btn-light ultralight dropdown-toggle btn-sm" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Opcje
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a *ngIf="invoice.locked == 0" (click)="makeCorrectionToInvoice(invoice, 'edit');" type="button" class="dropdown-item" title="Edycja"><i class="fas fa-pencil-alt"></i> Edycja</a>
                                    <a *ngIf="invoice.type == '1'" (click)="makeCorrectionToInvoice(invoice, 'correction');" type="button" class="dropdown-item" title="Korekta"><i class="fas fa-edit"></i> Korekta</a>
                                    <a class="dropdown-item" [href]="apiUrl+'/invoice/download/'+invoice.id" target="_blank"><i class="fas fa-download"></i> Pobierz</a>
                                    <a class="dropdown-item" [href]="apiUrl+'/invoice/download/'+invoice.id+'?duplicate=true'" target="_blank"><i class="far fa-clone"></i> Duplikat</a>
                                    <!-- <a class="dropdown-item" (click)="printInvoice(invoice);" disabled target="_blank"><i class="fas fa-print"></i> Drukuj</a> -->
                                    <a class="dropdown-item" [href]="invoice.href" target="_blank"><i class="fas fa-not-equal"></i> Porównaj</a>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr id="summaryRow">
                            <td style="width: 12%;" colspan="3" >Razem: <strong>{{pagination.allItems}}</strong></td>
                            <td style="width: 2%;" align="right"><strong>{{summaryNet}}</strong></td>
                            <td style="width: 2%;" align="right"><strong>{{summaryVat}}</strong></td>
                            <td style="width: 2%;" align="right"><strong>{{summaryTotal}}</strong></td>
                            <td style="width: 2%;" align="right">
                              <!-- <button class="btn btn-default btn-sm" (click)="downloadCsv()">POBIERZ XLS</button>
                              <button class="btn btn-primarry btn-sm" (click)="downloadCsv()">POBIERZ DLA OPTIMY</button> -->
                              <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                  Pobierz
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item btn-sm" (click)="downloadOptima()">DO OPTIMY</a>
                                  <a class="dropdown-item btn-sm" (click)="downloadCsv()">DO EXCEL</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="paginationTfoot card-body d-sm-flex justify-content-between">
                            <app-filters (valueChange)='reloadData($event)' [showPagination]=true [pagination]='pagination' style="width: 100%;"></app-filters>
                          </tr>
                        </tfoot>
                      </table>
                      <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <app-invoice></app-invoice>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="notification alert alert-{{notification?.class}} alert-dismissible fade fixed-top col-sm-12" role="alert"  (click)="hideAlert()">
                        <h4 class="alert-heading">{{notification?.title}}</h4>
                        <p>{{notification?.content}}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div>
        <p>Some test some test...</p>
        <button (click)="testFiltersGet()">Test filters</button>
    </div>
    -->

</main>
<!-- <app-footer></app-footer> -->