table{
    margin-bottom: 0;
}
table.table td{
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}
.summary.badge{
    font-size: 14px;
    font-weight: normal;
    color: #000000!important;
}
.notification{
    top:30px;
    right:30px;
    width: 30%;
    left: auto;
}
.edit-invoice-button{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}
.edit-invoice-button:disabled{
    color: rgba(34, 35, 36, 0.3);
}
.dropdown-item {
    padding: 0.75rem 1.5rem;
}
table.table-hover thead{
    display: inline-block;
    width: 100%;
}
table.table-hover tbody{
    height: calc(100vh - 450px);
    overflow: auto;
    display: inline-block;
    width: 100%;
}
table.table-hover tfoot{
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    background: #f7f7f7;
}
.container-fluid.mt-5{
    margin-bottom: 0 !important;
}
.paginationTfoot{
    padding: 0;
}
.row.pagination{
    margin-top: 0;
}
iframe{
    /* display: none; */
}
.btn-light.ultralight{
    background: #ffffff !important;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
    box-shadow: none;
}
.slideSidebar{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 0px;
    left: 0px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    z-index: 9999;
}