.sidebar-fixed {
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0; 
}
.sidebar-fixed .list-group .active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
.sidebar-fixed .logo-wrapper {
  padding: 2.5rem; 
}
.sidebar-fixed .logo-wrapper img {
  max-height: 50px; 
}
.modal-dialog {
  max-width: 800px;
  max-height: 100vh;
}
.modal-content{
  overflow: auto;
  transition:max-height 0.3s ease-out; 
}
.cursor-pointer{
  cursor: pointer;
}

.form-wizard{
  text-align:center;
  margin-top:40px;
}
.form-wizard .step{
  display: inline-block;
  width: 15px;
  height: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #c4bebe;
  margin: 3px;
}
.form-wizard .step.active{
  background: #a6c;
}
.container-fluid.mt-5{
  margin-bottom: 7rem !important;
}
.dropdown-menu.pages.show li a{
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}
.dropdown-menu.pages.show li a.current{
  background:#fafafa;
  font-weight: bold;
}
label.bmd-label-floating{
  margin-bottom: 0 !important;
  margin-top: 5px !important;
}
header.hideSidebar .sidebar-fixed a i{
  float: right;
  margin-right: 12px !important;
}
header.hideSidebar .sidebar-fixed a{
  border-radius: 0 !important;
  padding: 10px 0;
}
header.hideSidebar .sidebar-fixed{
  left: -230px;
  padding: 0;
}
main.hideSidebar{
  padding-left: 40px;
}
.navbar.scrolling-navbar{
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 1200px) {
  .navbar,
  .page-footer,
  main {
    padding-left: 270px; } }

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; }
    main.pt-1{
      padding-top: 50px !important;
    }
  }
header .hidesidebarlogo{
    display:none;
}
header.hideSidebar .hidesidebarlogo{
  display:block;
  /* float: right; */
  /* width: 100%; */
  text-align: right;
}
header.hideSidebar .hidesidebarlogo img{
  width: 30px;
  height: auto;
  margin-right: 5px;
}
header.hideSidebar .showsidebarlogo{
  display:none;
}