<footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn fixed-bottom">
    <div class="footer-copyright py-3">
        © 2020 Copyright:
        <a href="http://kymatica.pl" target="_blank">Kymatica.pl</a>
    </div>
</footer>