<div class="clearfix"></div>
<div *ngIf="!showPagination" class="row" style="margin:0">
  <div class="col-md-3 col-lg-2">
    <label class="bmd-label-floating">Numer faktury</label>
  <input *ngIf="params['number']" type="text" class="form-control" id="number" (keypress)="onChange('number', $event ); keyPress($event)"
    [value]="params['number']" (change)="onChange('number', $event )">
  <input *ngIf="!params['number']" type="text" class="form-control" id="number" (keypress)="onChange('number', $event ); keyPress($event)"
    (change)="onChange('number', $event )">
  </div>
  <div class="col-md-3 col-lg-2">
    <label class="bmd-label-floating">Numer zamówienia</label>
  <input *ngIf="params['orderId']" type="text" class="form-control" id="orderId" (keypress)="onChange('orderId', $event ); keyPress($event)"
    [value]="params['orderId']" (change)="onChange('orderId', $event )">
  <input *ngIf="!params['orderId']" type="text" class="form-control" id="orderId" (keypress)="onChange('orderId', $event ); keyPress($event)"
    (change)="onChange('orderId', $event )">
  </div>
  <div class="col-md-3 col-lg-2">
    <label class="bmd-label-floating">NIP klienta</label>
  <input *ngIf="params['taxNumber']" type="text" class="form-control" id="taxNumber" (keypress)="onChange('taxNumber', $event ); keyPress($event)"
    [value]="params['taxNumber']" (change)="onChange('taxNumber', $event )">
  <input *ngIf="!params['taxNumber']" type="text" class="form-control" id="taxNumber" (keypress)="onChange('taxNumber', $event ); keyPress($event)"
    (change)="onChange('taxNumber', $event )">
  </div>
  <div class="col-md-3 col-lg-2">
    <label class="bmd-label-floating">Nazwa klienta</label>
  <input *ngIf="params['clientName']" type="text" class="form-control" id="clientName" (keypress)="onChange('clientName', $event ); keyPress($event)"
    [value]="params['clientName']" (change)="onChange('clientName', $event )">
  <input *ngIf="!params['clientName']" type="text" class="form-control" id="clientName" (keypress)="onChange('clientName', $event ); keyPress($event)"
    (change)="onChange('clientName', $event )">
  </div>
  <div class="col-md-3 col-lg-2">
    <label class="bmd-label-floating">Data utworzenia od</label>
  <input *ngIf="params['createdDateFrom']" type="date" class="form-control" id="createdDateFrom"
    [value]="params['createdDateFrom']" (change)="onChange('createdDateFrom', $event )">
  <input *ngIf="!params['createdDateFrom']" type="date" class="form-control" id="createdDateFrom"
    (change)="onChange('createdDateFrom', $event )">
  </div>
  <div class="col-md-3 col-lg-2">
    <label class="bmd-label-floating">Data utworzenia do</label>
  <input *ngIf="params['createdDateTo']" type="date" class="form-control" id="createdDateTo"
    [value]="params['createdDateTo']" (change)="onChange('createdDateTo', $event )">
  <input *ngIf="!params['createdDateTo']" type="date" class="form-control" id="createdDateTo"
    (change)="onChange('createdDateTo', $event )">
  </div>
</div>
<div *ngIf="!showPagination" class="row" style="margin:0">
  <div class="col-md-3 col-lg-2">
      <label class="bmd-label-floating">Wystawca</label>
      <select class="browser-default custom-select" (change)="onChange('ownerId', $event )">
        <option value="" selected>Wybierz</option>
        <option *ngFor="let owner of invoiceOwners;" [selected]="params['ownerId'] == owner.id" value="{{owner.id}}">{{owner.short}}</option>
      </select>
  </div>
  <div class="col-md-3 col-lg-2">
    <label class="bmd-label-floating">Utworzona przez</label>
    <input *ngIf="params['createdBy']" type="text" class="form-control" id="createdBy" (keypress)="onChange('createdBy', $event ); keyPress($event)"
      [value]="params['createdBy']" (change)="onChange('createdBy', $event )">
    <input *ngIf="!params['createdBy']" type="text" class="form-control" id="createdBy" (keypress)="onChange('createdBy', $event ); keyPress($event)"
      (change)="onChange('createdBy', $event )">
  </div>
  <div class="col-md-3 col-lg-2">
      <label class="bmd-label-floating">Typ</label>
      <select class="browser-default custom-select" (change)="onChange('type', $event )">
        <option value="" selected>Wybierz</option>
        <option [selected]="params['type'] == 1" value="1">FVAT</option>
        <option [selected]="params['type'] == 2" value="2">KOREKTA</option>
        <option [selected]="params['type'] == 3" value="3">PROFORMA</option>
      </select>
  </div>
  <div class="">
    <br>
    <button type="button" class="btn btn-secondary btn-sm" (click)="search()">Wyszukaj</button>
  </div>
  <div class="">
    <br>
    <button type="button" class="btn btn-light btn-sm" (click)="clearSearch()">Wyczyść filtry</button>
  </div>
</div>
  <div *ngIf="pagination && showPagination" class="pagination">
    <div class="col">
      <div class="btn-group">
        <a class="btn btn-light btn-sm" [attr.disabled]="pagination?.currentPage == 1 ? 'disabled' : null"
          (click)="setPage(pagination?.currentPage, 'dec')"><i class="fa fa-angle-double-left"></i></a>
      </div>
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-light dropdown-toggle btn-sm" type="button" aria-expanded="false">
          na stronie: {{params?.itemsPerPage}} <span class="caret"></span> </button>
        <ul class="dropdown-menu pages">
          <li><a [className]="pagination?.itemsPerPage == 10 && 'current'" (click)="setItemsPerPage(25)">25</a></li>
          <li><a [className]="pagination?.itemsPerPage == 50 && 'current'" (click)="setItemsPerPage(50)">50</a></li>
          <li><a [className]="pagination?.itemsPerPage == 100 && 'current'" (click)="setItemsPerPage(100)">100</a></li>
          <li><a [className]="pagination?.itemsPerPage == 100 && 'current'" (click)="setItemsPerPage(500)">500</a></li>
          <li><a [className]="pagination?.itemsPerPage == 100 && 'current'" (click)="setItemsPerPage(2000)">2000</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-light dropdown-toggle btn-sm" type="button" aria-expanded="false">
          Strona: {{pagination?.currentPage}}<span class="caret"></span> </button>
        <ul class="dropdown-menu pages">
          <li class="month" *ngFor="let item of [].constructor(pagination?.allPages); let i = index">
            <a [className]="pagination?.currentPage == i+1 && 'current'" (click)="setPage(i+2)">{{i+1}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-light dropdown-toggle btn-sm" type="button" aria-expanded="false">
          Sortuj: 
          <span *ngIf="params?.sort == 'older'">Od najstarszych</span>
          <span *ngIf="params?.sort == 'younger'">Od najmłodszych</span>
          <span class="caret"></span> </button>
        <ul class="dropdown-menu pages">
          <li><a [className]="params?.sort == 'older' && 'current'" (click)="setSort('older' )">Od najstarszych</a></li>
          <li><a [className]="params?.sort == 'younger' && 'current'" (click)="setSort('younger' )">Od najmłodszych</a></li>
        </ul>
      </div>
    <div class="btn-group">
      <a class="btn btn-light btn-sm" [attr.disabled]="pagination?.currentPage == pagination?.allPages ? 'disabled' : null"
        (click)="setPage(pagination.currentPage,'inc')"><i class="fa fa-angle-double-right"></i></a>
    </div>
    </div>
  </div>
<div class="clearfix"></div>