.control-label{
    line-height: 30px;
    padding-left: 0;
}
.form-group{
    padding-right: 0px;
}
.pagination{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}
.control-label{
    font-weight: 300;
    margin-bottom: -2px;
}
.filters-form .form-group{
    padding-left: 0px;
    padding-right: 0px;
}
input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control{
    line-height: 20px;
}
.filters-form{
    background: rgba(0,0,0,0.04);
    border: 1px solid #D9DEE4;
}
.dropdown-menu.pages{
    max-height: 120px;
    overflow-y: scroll;
}
.page-link.active{
    background: #4285f4 !important;
    color: #ffffff;
    font-weight: 900;
}
.pagination{
    text-align: center;
    margin-top: 0px;
}