

<div class="modal fade" id="addInvoice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form [formGroup]="correctiveNote">
            <div class="container">
              <div class="tab" *ngIf="currentTab == 0">
                <h3>Nowa nota korygująca</h3>
                <div class="row">
                    <div class="col-sm form-group">
                        <label class="bmd-label-floating">Data wystawienia *</label>
                        <input type="date" class="form-control" (change)="checkForm();" formControlName="createdDate">
                    </div>
                    <div class="col-sm form-group">
                        <label class="bmd-label-floating">Numer faktury *</label>
                        <input type="text" class="form-control invoiceNumberInputClass" (change)="findInvoice($event);" formControlName="invoiceNumber">
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm form-group">
                      <label class="bmd-label-floating">Powód wystawienia noty korygującej</label>
                      <textarea class="form-control" formControlName="description" (change)="checkForm()" rows="3"></textarea>
                  </div>
                </div>
              </div>
              <div class="tab" *ngIf="currentTab == 1">
                <div class="row">
                <div class="col-sm form-group">
                    <label class="bmd-label-floating">Wystawca</label><br>
                    {{invoice.owner.name}}<br>
                    {{invoice.owner.address}}<br>
                    NIP: {{invoice.owner.taxNumber}}<br>
                    Tel.: {{invoice.owner.phoneNumber}}<br>
                    BDO: {{invoice.owner.bdo}}<br>
                </div>
                <div class="col-sm form-group">
                    <label class="bmd-label-floating">Płatnik</label><br>
                    {{invoice.payer.company}}<br>
                    NIP: {{invoice.owner.taxNumber}}<br>
                    {{invoice.owner.address.street}}<br>
                    {{invoice.owner.address.postCode}} {{invoice.owner.address.City}}<br>
                </div>
                <div *ngIf="invoice.customer" class="col-sm form-group">
                    <label class="bmd-label-floating">Odbiorca</label><br>
                    {{invoice.customer.company}}<br>
                    NIP: {{invoice.customer.taxNumber}}<br>
                    {{invoice.customer.address.street}}<br>
                    {{invoice.customer.address.postCode}} {{invoice.customer.address.City}}<br>
                </div>
                </div>
                <div class="row">
                    <div class="col-sm form-group">
                        <label class="bmd-label-floating">Popraw na</label><br>
                        <textarea class="form-control" formControlName="owner"rows="3"></textarea>
                    </div>
                    <div class="col-sm form-group">
                        <label class="bmd-label-floating">Popraw na</label><br>
                        <textarea class="form-control" formControlName="payer"rows="3"></textarea>
                    </div>
                    <div *ngIf="invoice.customer" class="col-sm form-group">
                        <label class="bmd-label-floating">Popraw na</label><br>
                        <textarea class="form-control" formControlName="customer"rows="3"></textarea>
                    </div>
                </div>
              </div>
              
              <!-- <div class="tab" *ngIf="currentTab == 2">
                2
              </div>
              <div class="tab" *ngIf="currentTab == 3">
              3
              </div> -->
              <div class="form-wizard">
                <span [ngClass]="currentTab == 0 ? 'step active' :  'step'"></span>
                <span [ngClass]="currentTab == 1 ? 'step active' :  'step'"></span>
              </div>
              <ul *ngIf="showErrors" class="alert alert-danger">
                <li *ngFor="let error of errors;">{{error}}</li>  
              </ul>
              <div style="overflow:auto;">
                  <button type="button" [disabled]="currentTab == 0" class="btn btn-raised btn-success float-left" (click)="nextPrev(-1);"><i class="fas fa-chevron-left"></i> Poprzedni</button>
                  <button type="button" class="btn btn-raised btn-success float-right" *ngIf="currentTab < 1" (click)="nextPrev(1)">Następny <i class="fas fa-chevron-right"></i></button>
                  <button type="button" (click)="add();" *ngIf="currentTab == 1" class="btn btn-raised btn-success float-right">Dodaj</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
        //var today = moment().format('YYYY-MM-DD');
        document.getElementById("createdDate").value = "2014-02-09"; 
  </script>