<div class="sidebar-fixed position-fixed">
    <a class="logo-wrapper waves-effect showsidebarlogo">
        <img src="https://gmoto.pl/templates/gmoto.pl/gfx/sklep-motocyklowy-czesci-motocyklowe.png" class="img-fluid" alt="">
    </a>
    <a class="logo-wrapper waves-effect hidesidebarlogo">
        <img src="https://gmoto.pl/templates/gmoto.pl/gfx/logo-gmoto-hidesidebar.png" class="img-fluid" alt="">
    </a>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action waves-effect" [class.active]="activeRootLink === '/'">
            <i class="fas fa-tachometer-alt mr-3"></i>Panel
        </a>
        <a href="/invoices?ownerId=1&type=1&createdDateFrom=2021-{{actualMonth}}-01&createdDateTo={{currentDate}}&itemsPerPage=25&sort=younger" class="list-group-item list-group-item-action waves-effect" [class.active]="activeRootLink === '/invoices'">
            <i class="fas fa-file-invoice mr-3"></i>Faktury
        </a>
    </div>
</div>
