<header>
    <app-top-nav></app-top-nav>
    <app-sidebar></app-sidebar>
</header>
<app-preloader *ngIf="preloader"></app-preloader>
<main class="pt-5 mx-lg-5">
<div class="container-fluid mt-5">
    <div class="card mb-4 wow fadeIn">
        <div class="card-body d-sm-flex justify-content-between">
            <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Noty korygujące</a>
            <span>/</span>
            <span>Panel</span>
            </h4>
            <button type="button" class="btn btn-raised btn-primary" (click)="addCorrectiveNote();">Dodaj</button>
        </div>
        <!-- <app-invoice-form></app-invoice-form> -->
    
      <div class="card-body d-sm-flex justify-content-between">
        <app-filters (valueChange)='reloadData($event)' [pagination]='pagination' style="width: 100%;"></app-filters>
      </div>
      <app-corrective-note-form></app-corrective-note-form>
    </div>
    <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col" width="170">Numer</th>
                        <th scope="col" width="100">Wstawiona</th>
                        <th scope="col">Faktura</th>
                        <th scope="col" width="240"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let note of correctiveNotes" >
                        <td><div (click)="showInvoice(note.id);" class="cursor-pointer">{{note.number}}</div></td>
                        <td>{{note.createdDate}}</td>
                        <td><span>{{note.invoiceNumber}}</span></td>
                        <td align="right">
                          <button (click)="showInvoice(note.id);" type="button" class="btn-primary btn btn-raised btn-sm" title="Pokaż"><i class="far fa-eye"></i></button>
                          <a target="_blank" [href]="apiUrl+'/invoice/download/'+note.id" class="btn-secondary btn btn-raised btn-sm" title="Pobierz"><i class="fas fa-download"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <app-invoice></app-invoice>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
<app-footer></app-footer>