<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active d-md-none">
                    <a class="nav-link waves-effect" href="/">Panel</a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link waves-effect" href="/invoices">Faktury</a>
                </li>
                <!-- <li class="nav-item d-md-none">
                    <a class="nav-link waves-effect" href="">Klienci</a>
                </li> -->
            </ul>
            <!-- <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                    target="_blank">
                        <i class="fas fa-sign-out-alt mr-2"></i>Wyloguj
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
</nav>