<header>
    <app-top-nav></app-top-nav>
    <app-sidebar></app-sidebar>
</header>
<main class="pt-2 mx-lg-5">
<div class="container-fluid mt-5">
    <div class="card mb-4 wow fadeIn">
        <div class="card-body d-sm-flex justify-content-between">
            <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Faktury</a>
            <span>/</span>
            <span>Panel</span>
            </h4>
        </div>
    </div>
</div>
</main>
<!-- <app-footer></app-footer> -->